<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th align='left'>Name</th>
      <th></th>
      <th align='left'>Email</th>
      <th align='left'>Bringing Stuff:</th>
      <th align='left'># of guests?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td align='left'><%= contact.fname %></td>
        <td align='left'><%= contact.lname %></td>
        <td align='left'><%= contact.email %></td>
        <td align='left'><%= contact.comment %></td>
        <td align='left'><%= contact.guests %></td>
        <td><%= link_to 'Show', contact %></td>
        <!--td><%= link_to 'Edit', edit_contact_path(contact) %></td-->
        <!--td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Homey', root_path %>
