<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @contact.fname %> <%= @contact.lname %>
</p>

<p>
  <strong>Bringing Stuff:</strong>
  <%= @contact.comment %>
</p>

<p>
  <strong># of guests?</strong>
  <%= @contact.guests %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
